*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #201e35;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.circle{
    border: #fff 5px solid;
    background-color: #2a4dc7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.child1{
    animation: jump 2s infinite;
}
.child2{
    animation: jump 2s infinite;
    animation-delay: 0.2s;
}
.child3{
    animation: jump 2s infinite;
    animation-delay: 0.4s;
}
@keyframes jump{
    0%, 50%, 100% {
      transform: scaleX(1) scaleY(1) translate(0, 0);
    }
    15% {
      transform: scaleX(1.2) scaleY(0.8) translate(0, 0);
    }
    25% {
      transform: scaleX(0.9) scaleY(1.1) translate(0, -100%);
    }
}
